:root {
  color-scheme: light dark;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Arial;
  background: var(--background-color);
  color: var(--primary-text-color);
}

#app {
  padding: 16px;
  min-height: 100%;
}

html {
  overflow: hidden;
}

globular-image-viewer,
globular-file-reader {
  min-height: 640px;
}
